{% extends 'base.html.twig' %}
{% block title %}Transfer{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Transfer</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "navbar.html.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "topbar.html.twig" %}
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Transfer</h1>
                    <p class="mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="form-group row">
                                    <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-primary">Transfer</h6>     
                                    </div>
                                    <div class="col-sm-2">
                                        {% for tempagence in app.user.tempAgences %}
                                            <a href="{{ path('app_home_dashboardA', {'id': tempagence.agence.id}) }}" class="btn btn-success">
                                                <i class="fa fa-home"></i>
                                                Home
                                            </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-2"> 
                                        <a href="{{ path('app_magasin')}}" class="btn btn-success">
                                        <i class="fa fa-plus"></i>
                                         Ajouter
                                         </a>             
                                    </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    
                                </div>
                                <div class="col-md-3">
                                    <label for="annee">Année recherche :</label>
                                    <select class="form-control" id="annee" name="annee" onchange="reload()">
                                    <option >Recherche a</option>
                                    {% for currentYear in 2024..2040 %}
                                        <option value="{{ currentYear }}"> {{ currentYear }} </option>
                                    {% endfor %}

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length='25' data-order='[[0, "desc"]]'>
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Produit</th>
                                            <th>Quantite</th>
                                            <th>Status</th>
                                            <th>Matricule</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Produit</th>
                                            <th>Quantite</th>
                                            <th>Status</th>
                                            <th>Matricule</th>
                                            <th>Date</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for transfert in transferts %}
                                            <tr>
                                                <td>{{ transfert.id}} </td>
                                                <td>{{ transfert.produit.nom}}</td>
                                                <td>{{ transfert.quantite}}</td>
                                                {% if transfert.statut == "Transféré" %}
                                                    <td class='text text-success'>{{ transfert.statut}}</td>
                                                {% else %}
                                                    <td class='text text-danger'>{{ transfert.statut}}</td>
                                                {% endif %}
                                                <td>{{ transfert.matricule}}</td>
                                                <td>{{ transfert.createtAt |date("d-m-Y")}}</td>
                                                <td>
                                                    <a href='{{ path('app_transfert_edit', {'id': transfert.id})}}' class='btn btn-danger' onclick='return confirm(\"Êtes-vous sûr de vouloir supprimer cette vente ?\");'>Detransfert</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy; {{ 'now' | date("Y-m-d")}}</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script>
        function reload() {
            var annee = document.getElementById("annee").value;
            window.location.href = "liste.php?date=" + annee;
        }
    </script>

</body>

</html>
{% endblock %}