{% extends 'base.html.twig' %}

{% block title %}Balance{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbar.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Balance</h1>
                    <p class="mb-4">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Structure de la Balance</h6>
                            <br>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <button class="btn btn-info btn-user btn-block">Balance au </button>
                                    <select class="form-control" id="annee" name="annee" onchange="AnneBilan()">
                                        {% for currentYear in 2022..2040 %}
                                            <option value="{{ currentYear }}"> {{ currentYear }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-primary btn-user"  href="{{ path('app_balance') }}"><i class="fas fa-plus"></i> Balance</a>
                                </div>
                                <div class="col-md-2">
                                    <form class="user" action="{{ path('app_balance_dwonload') }}" method="post">
                                        <button class="btn btn-primary btn-user">
                                            <i class="fas fa-download"></i> Telechager
                                        </button>
                                    </form>
                                </div>
        
                                
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableactif" width="100%" cellspacing="0" data-page-length='50' >
                                    <thead>
                                        <tr>
                                            <th>Classe</th>
                                            <th>Compte</th>
                                            <th>Intitulé du compte</th>
                                            <th>Solde initial Débit</th>
                                            <th>Solde initial Crédit</th>
                                            <th>Mouvements Débit</th>
                                            <th>Mouvements Crédit</th>
                                            <th>Solde final Débit</th>
                                            <th>Solde final Crédit</th>
                                            <th>Solde global</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Classe</th>
                                            <th>Compte</th>
                                            <th>Intitulé du compte</th>
                                            <th>Solde initial Débit</th>
                                            <th>Solde initial Crédit</th>
                                            <th>Mouvements Débit</th>
                                            <th>Mouvements Crédit</th>
                                            <th>Solde final Débit</th>
                                            <th>Solde final Crédit</th>
                                            <th>Solde global</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for balance in balances %}
                                            <tr> 
                                                <td style="">{{ balance.Classe }}</td>
                                                <td style="">{{ balance.Compte}}</td>
                                                <td style="">{{ balance.intitule}}</td>
                                                <td style="">{{ balance.SoldeInitialDebit}}</td> 
                                                <td style="">{{ balance.SoldeInitialCredit}}</td>
                                                <td style="">{{ balance.MouvementDebit}}</td>
                                                <td style="">{{ balance.MouvementCredit}}</td>
                                                <td style="">{{ balance.SoldeFinalDebit}}</td>
                                                <td style="">{{ balance.SoldFinalCredit}}</td>
                                                <td style="">{{ balance.SoldeGlobal}}</td>
                                                <td>
                                                    <a href="{{ path('app_balance_edit',{'id': balance.id})}}" class='btn btn-primary' id='modification'><i class='fas fa-pencil-alt '></i></a>
                                                    <a href="{{ path('app_balance_delete',{'id': balance.id})}}" class='btn btn-danger' onclick='return confirm(\"Êtes-vous sûr de supprimer cette ligne ?\");'><i class='fas fa-trash-alt'></i></a>
                                                </td>        
                                            </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy; {{ 'now' | date("Y")}} </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>
</html>
{% endblock %}