{% extends 'base.html.twig' %}

{% block title %}Poussin{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestion de stock</title>

    <!-- Custom fonts for this template -->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="../../https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbarA.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Commande</h1>
                    <p class="mb-4">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="form-group row">
                                    <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-primary">Tables des Commandes</h6>     
                                    </div>
                                    <div class="col-sm-2">
                                        {% for tempagence in app.user.tempAgences %}
                                            <a href="{{ path('app_home_dashboardA', {'id': tempagence.agence.id}) }}" class="btn btn-success">
                                                <i class="fa fa-home"></i>
                                                Home
                                            </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-2"> 
                                        <a href="{{ path('app_poussin')}}" class="btn btn-success">
                                        <i class="fa fa-plus"></i>
                                         Ajouter
                                         </a>             
                                    </div>
                                    <!--<div class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retour</div>  -->  
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form  action="../pdf/getpoussin.php" method="post" class="user row" >
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <input type="date" class="form-control form-control-user"
                                                name="datedette" id="datedette" placeholder="quantité" required>
                                            </div>
                                            <div class="col-md-3" >
                                                <input type="date" class="form-control form-control-user"
                                                name="datedett2" id="datedett2" placeholder="quantité" required>
                                            </div>
                                            <div class="col-md-4" >
                                            <select id="status"  name="status"   class="form-control form-select" required>
                                                <option value="ALL">Tout commande</option>
                                                <option value="LIVREE">Livree</option>
                                                <option value="Versement">Versement</option>
                                                <option value="Modifier">Modifier</option> 
                                                <option value="Rembourser">Rembourser</option>   
                                                <option value="Annuler">Annuler</option>
                                                <option value="EN COUR">EN COUR</option>       
                                            </select> 
                                            </div>
                                            <div class="col-md-2" >
                                                <input type="submit" class="btn btn-warning btn-user"  value="Afficher" >  
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <label for="annee">Année recherche :</label>
                                    <select class="form-control" id="annee" name="annee" onchange="reload()">
                                    <option >Recherche a</option>
                                    {% for currentYear in 2024..2040 %}
                                        <option value="{{ currentYear }}"> {{ currentYear }} </option>
                                    {% endfor %}

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length='25' data-order='[[0, "desc"]]'>
                                    <thead>
                                       
                                        <tr>
                                            <th>id</th>
                                            <th>Date</th>
                                            <th>Nom</th>
                                            <th>Téléphone</th>
                                            <th>QuaT</th>
                                            <th>P.U</th>
                                            <th>P.Total</th>
                                            <th>Avance</th>
                                            <th>Reste-paie</th>
                                            <th>Statut</th>
                                            <th>Date-Livre</th>
                                            <th>Date-Rape</th>
                                            <th>Valider</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Date</th>
                                            <th>Nom</th>
                                            <th>Téléphone</th>
                                            <th>QuaT</th>
                                            <th>P.U</th>
                                            <th>P.Total</th>
                                            <th>Avance</th>
                                            <th>Reste-paie</th>
                                            <th>Statut</th>
                                            <th>Date-Livr</th>
                                            <th>Date-Rape</th>
                                            <th>Valider</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for poussin in poussins %}
                                            <tr>
                                                <td>{{ poussin.id}} </td>
                                                <td>{{ poussin.datecommande |date("d-m-Y") }}</td>
                                                <td>{{ poussin.client.nom}}</td>
                                                <td>{{ poussin.client.telephone}} </td>
                                                <td>{{ poussin.quantite}}</td>
                                                <td>{{ poussin.prix}} </td>
                                                <td>{{ poussin.montant}}</td>
                                                <td>{{ poussin.montant}}</td>
                                                <td>{{ poussin.mobilepay + poussin.cash }}</td>
                                                <td>{{ poussin.reste}}</td>
                                                <td>{{ poussin.status}}</td>
                                                <td>{{ poussin.daterapelle |date("d-m-Y")}}</td>
                                                <td>
                                                <a href='{{ path('app_pousssin_edit', {'id': poussin.id}) }}' class='btn btn-primary'><i class='fas fa-pencil-alt'></i></a>
                                                <a href='delete.php?id="{{poussin.id}}"' class='btn btn-danger' onclick='return confirm(\"Êtes-vous sûr de vouloir supprimer cette vente ?\");'><i class='fas fa-trash-alt'></i></a>
                                                <a href='imprimer.php?id="{{poussin.id}}"' class='btn btn-warning'><i class='fas fa-print'></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>vestion test &copy; Your Website <?php echo date("Y-m-d") ?></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script>
        function reload() {
            var annee = document.getElementById("annee").value;
            window.location.href = "liste.php?date=" + annee;
        }
    </script>

</body>

</html>
{% endblock %}