{% extends 'base.html.twig' %}

{% block title %}Hello VaccinController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
</head>

<body class="bg-gradient-success">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                            </div>  
                                <div class="form-group row">
                                        <div class="col-sm-6 ">
                                        <h6 class="m-0 font-weight-bold text-success">Enregistrer un sujet</h6>
                                        </div>
                                        <div class="col-sm-2">
                                                <a href="{{ path('app_home_dashboardA', {'id': tempagence.id}) }}" class="btn btn-primary">
                                                <i class="fa fa-home"></i>
                                                Home</a> 
                                        </div>
                                        <div class="col-sm-2"> 
                                                <a href="{{path('app_vaccin_list')}}" class="btn btn-success"> 
                                                <i class="fa fa-list"></i>
                                                Liste</a>
                                                
                                        </div>
                                        
                                </div>
                            
                            {{ form_start(form)}}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.sujet)}}
                                        {{ form_widget(form.sujet) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(form.age)}}
                                        {{ form_widget(form.age) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="search" id="recherche" onkeyup="recherduclientVaccin()"  class="form-control form-control-user" placeholder="recherche en utilisant le numero client"/>
                                        {{ form_widget(form.client)
                                        }}  
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.typeSujet)}}
                                        {{ form_widget(form.typeSujet)}}
                                    </div>
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.typeVaccin)}}
                                        {{ form_widget(form.typeVaccin) }}
                                    </div>
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        {{ form_label(form.montant)}}
                                        {{ form_widget(form.montant) }}
                                    </div>
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        {{ form_label(form.montantNet)}}
                                        {{ form_widget(form.montantNet) }}
                                    </div>
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        {{ form_label(form.resteMontant)}}
                                        {{ form_widget(form.resteMontant) }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.dateVaccin)}}
                                        {{ form_widget(form.dateVaccin) }}
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        {{ form_label(form.createtAD)}}
                                        {{ form_widget(form.createtAD) }}
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        {{ form_label(form.dateRapel)}}
                                        {{ form_widget(form.dateRapel) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                    {{ form_label(form.lieux)}}                                          
                                        {{ form_widget(form.lieux) }}
                                    </div>
                                </div>
                                <button type="submit" name="submit" id="submit" class="btn btn-success btn-user btn-block">
                                    Enregister
                                </button>
                                
                            {{ form_end(form)}}
                            <hr>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{{asset('js/client/search_client.js')}}"></script>
</body>

</html>
{% endblock %}
