{% extends 'base.html.twig' %}

{% block title %}Remboursement!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    
    <style>
        .drop{
            display: none;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block bg-register-image">
                        {% include "navbar.html.twig" %}
                    </div>
                    <div class="col-lg-10">
                        <div class="p-5">
                            
                            <hr>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4 text-green">Edit remboursement</h1>
                            </div>
                            <form class="user" action="{{path('app_remboursement_update')}}" method="post" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="remboursement_status">Type de Remboursement</label>
                                        <input type="text" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][type]" value="{{remboursement.type}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">Date de enregistrement</label>
                                        <input type="date" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][createtAt]" value="{{remboursement.createtAt | date('Y-m-d')}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">montant</label>
                                        <input type="number" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][montant]" value="{{remboursement.montant}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">libelle du contrat </label>
                                        <input type="text" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][contrat]" value="{{remboursement.contrat}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">Nom de l'etablissement</label>
                                        <input type="number" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][etablissement]" value="{{remboursement.etablissement}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">dates ignature</label>
                                        <input type="date" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][datesignature]" value="{{remboursement.datesignature | date('Y-m-d')}}">
                                    </div>
                                    {# <div class="col-md-4">
                                        <label for="remboursement_status">Montant</label>
                                        <input type="number" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][montant]" value="{{remboursement.montant}}">
                                    </div> #}
                                    <div class="col-md-4">
                                        <label for="remboursement_status">date prelevement</label>
                                        <input type="date" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][dateprelevement]" value="{{remboursement.dateprelevement | date('Y-m-d')}}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remboursement_status">compte debiter</label>
                                        <input type="text" class="form-control form-control-user" name="remboursements[{{remboursement.id}}][comptedebiter]" value="{{remboursement.comptedebiter}}">
                                    </div>
                                    
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Enregistrer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->

</body>
</html>
{% endblock %}
