{% extends 'base.html.twig' %}

{% block title %}Transfer{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->

</head>

<body class="bg-gradient-success">

    <div class="container" >
        
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block bg-register-image">
                        {% include "navbarA.html.twig" %}
                    </div>
                    <div class="col-lg-10">
                        <div class="p-5">
                            <div class="text-center" >
                                <h1 class="h4 text-gray-900 mb-4">Rédaction du bon de transfert avec produit unique</h1>                            </div>
                            <div class="card-header py-3">
                                <div class="col-sm-2 mb-6 mb-sm-0">
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    {% for tempagence in app.user.tempAgences %}
                                        <a href="{{ path('app_home_dashboard', {'id': tempagence.agence.id}) }}" class="btn btn-primary btn-user btn-block">
                                            <i class="fas fa-home"></i>
                                                home
                                        </a>  
                                    {% endfor %}     
                                </div> 
                            </div>
                                <form class="user" action="{{ path('app_transfert_a_valider', {'id': transferts.id}) }}" method="post" enctype="multipart/form-data">                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <p class="mb-1">
                                            <strong>N° de transfert : </strong>
                                            <input type="text" name="transferts[{{ transferts.id }}][matricule]" 
                                            value="{{ transferts.matricule }}" class="form-control" readonly>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-1">Date : <strong>
                                        <input type="date" name="transferts[{{ transferts.id }}][createtAt]" 
                                            value="{{ transferts.createtAt | date('Y-m-d') }}" class="form-control" readonly>
                                        </strong></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-1">Magasin d'origine : <strong>{{ transferts.agence.nom ?? 'Magasin central' }}</strong></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-1"><strong>Destination :</strong> Production, vente, etc.</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-1">
                                            Demandé par : <strong>{{ app.user.username }}</strong>
                                            <input type="text" id="user" name="user" value="{{ app.user.id }}" class="form-control" readonly>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        Produit : <strong>{{ transferts.produit.nom }}</strong>
                                        <input type="text" name="transferts[{{ transferts.id }}][produit]" value="{{ transferts.produit.id }}" class="form-control" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        Quantité
                                        <input type="text" name="transferts[{{ transferts.id }}][quantite]" value="{{ transferts.quantite }}" class="form-control" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        Creé par
                                        <input type="text" name="transferts[{{ transferts.id }}][utilisateur]" value="{{ transferts.user.username }}" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">  
                                        <button type="submit" name="transferts[{{ transferts.id }}][transferer]" value="Transféré" class="btn btn-primary btn-user btn-block">
                                            Transférer
                                        </button>
                                    </div>
                                    <div class="col-sm-6">  
                                        <button type="submit" name="transferts[{{ transferts.id }}][Annuler]" value="Annuler"  class="btn btn-danger btn-user btn-block">
                                            Annuler
                                        </button>
                                    </div>
                                </div>
                            </form> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{{ asset('js/produit/recherche.js') }}"> </script>
</body>
</html>
{% endblock %}


