{% extends 'base.html.twig' %}

{% block title %}Passif!{% endblock %}

{% block body %}
<?php require_once("../connexion.php"); 
?>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gestion de stock</title>

    <!-- Custom fonts for this template -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbar.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">passif bilan</h1>
                    <p class="mb-4">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Structure du Passif</h6>
                            <br>
                            <div class=" form-group row">
                                <div class="col-md-2" >
                                    <button class="btn btn-info btn-user btn-block">Bilan au </button>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" id="annee" name="annee" onchange="AnnePassif()">
                                        {% for currentYear in 2022..2040 %}
                                            <option value="{{ currentYear }}"> {{ currentYear }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-user" onclick="updatePssif()">Mise à jour de le Passif</button>
                                </div>
                                <form action="registerpassif.php" method="post">
                                    <div class="col-md-2">
                                        <a type="submit" class="btn btn-warning btn-user" href="{{path('app_depense_passif_list')}}" >Liste depense </a>
                                    </div>
                                </form>
                                <div class="col-sm-2">
                                    <a href="{{ path('app_passif') }}" class="btn btn-success"><i class="fa fa-plus"></i>Ajouter</a>              
                                </div> 
                                <div class="col-md-2">
                                    <form class="user" action="{{ path('passif_download') }}" method="post">
                                        <button class="btn btn-primary btn-user">
                                            <i class="fas fa-download"></i> Telecharger
                                        </button>
                                        <input class=" btn-user"  type="text" value="{{ date}}" name="date">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <span id="message"><h3 class="text-success">Veuillez mettre votre Passif à jour</h3></span>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tablepassif" width="100%" cellspacing="0" data-page-length='50' >
                                    <thead>
                                       
                                        <tr>
                                            <th rowspan="2" style="text-align: center;">Passif</th>
                                                <th rowspan="2" style="text-align: center;">REF</th>
                                                <th colspan="2" style="text-align: center;" id="date">{{ date }}</th>';
                                                <th style="text-align: center;" id="seconddate">{{date - 1}}</th>
                                        </tr>
                                        <tr>
                                            <th>NET</th>
                                            <th>Operation</th>
                                            <th>NET N-1</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>REF</th>
                                            <th>Passif</th>
                                            <th>NET</th>
                                            <th>Operation</th>
                                            <th>NET N-1</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for passif in passifs %}
                                        <tr>
                                            {% if passif.REF == 'CP' or passif.REF == 'DD' or  passif.REF == 'DF' or passif.REF == 'DP' or passif.REF == 'DT' or passif.REF == 'DZ' %}
                                                <td style="color: blue;">{{passif.REF}}</td>
                                                <td style="color: blue;">{{passif.libelle}}</td>
                                                <td style="color: blue;">{{passif.montant}}</td>
                                            {% else %}
                                            <td>{{passif.REF}}</td>
                                            <td>{{passif.libelle}}</td>
                                            <td>{{passif.montant}}</td>
                                            {% endif %}
                                            <td>
                                                <a href="{{ path('app_passif_edit',{'id': passif.id})}}" class='btn btn-primary'><i class='fas fa-pencil-alt '></i></a>
                                                <a href="{{ path('app_passif_delete',{'id': passif.id})}}" class='btn btn-danger' onclick='return confirm(\"Êtes-vous sûr de supprimer cette ligne ?\");'><i class='fas fa-trash-alt'></i></a>
                                            </td>
                                            <td>0</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy; {{ "now" | date("Y-m-d")}}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="{{ asset('js/bilan/passif.js')}}"> </script>
    <!-- Bootstrap core JavaScript-->

</body>

</html>

{% endblock %}
