{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* CSS personnalisé pour le PDF */
        body { font-family: Arial, sans-serif; }
        .header { color: #333; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        @Page {
                    footer {
                       position: fixed;
                        bottom: 0cm;
                        left: 0cm;
                        right: 0cm;
                        height: 2cm;
                        text-align: center;
                    }
                }
    </style>
</head>
<body>
<div class="table-responsive">
    <table class="table table-bordered" id="tableactif" width="100%" cellspacing="0" data-page-length='50' >
        <thead>
            <tr>
                <th colspan="4" style="text-align: center;">Caisse du {{ 'now' | date("Y-m-d")}}</th>
            </tr>
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Montant</th>
                <th  style="text-align: center;">Motif</th>
                <th  style="text-align: center;">Operation</th>
                <th  style="text-align: center;">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for caisse in caisses %}
                <tr>
                    <td style="">{{ caisse.id }}</td>   
                    <td style="">{{ caisse.montant }}</td>
                    <td style="">{{ caisse.motif }}</td>
                    <td>{{caisse.operation}}</td>
                    <td>{{caisse.createAt | date("Y-m-d")}}</td>       
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
{% endblock %}