<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* CSS personnalisé pour le PDF */
        body { font-family: Arial, sans-serif; }
        .header { color: #333; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        @Page {
                    footer {
                       position: fixed;
                        bottom: 0cm;
                        left: 0cm;
                        right: 0cm;
                        height: 2cm;
                        text-align: center;
                    }
                }
    </style>
</head>
<body>
<table style="width:100%" >
    <thead>
        <tr>
            <th colspan="6" align="center"> rapport Vente du : {{date}}</th>
        </tr>
    </thead>
        <tbody>
        {% set sommeBanque = 0 %}
        {%  set sommeVente = 0 %}
        {%   set sommeCash = 0 %}
        {%   set sommeOm = 0 %}
        {%   set sommemomo = 0 %}
        {%   set sommeCredit = 0 %}
        {%   set sommeReduction = 0 %}
        {% set sommeprix = 0 %}
        {% for vente in ventes %}
            <tr>
            <td colspan="6" align="center"> Formule   Vente N= {{vente.id}} Client : {{ vente.client.nom}}  Tel: {{ vente.client.telephone}} utilisateur {{vente.user.username }} heure {{ vente.heure}} aliment : {{vente.aliment}}</td>
            </tr>
                <tr>
                <th scope="col">Nom produit</th>
                <th scope="col">quantite</th>
                <th scope="col">prix</th>
                <th scope="col">montant </th>
                <th scope="col">Typepaiement</th>
                <th scope="col">datevente</th>
            </tr>

             {% for facture in vente.facture %}
                    <tr>
                        <td> {{ facture.produit.nom}} </td>
                        <td> {{ facture.quantite}} </td>
                        <td> {{ facture.prix}} </td>
                        <td> {{ facture.prix * facture.quantite}} </td>
                        <td> {{ vente.type}} </td>
                        <td> {{ facture.createdAt | date("Y-m-d")}} </td>
                        {% set sommeprix = sommeprix + facture.prix %}
                    </tr>
                {% endfor %} 
                 <tr>
                    <td>Total</td>
                    <td>{{ vente.quantite}}</td>
                    {% if vente.prix != 0 %}
                        <td>{{ sommeprix }}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                    <td>{{ vente.prix}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Reduction</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.reduction}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Net a payer</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.prix}} </td>
                    <td>FCFA</td>
                    <td>{{ vente.type}}</td>
                </tr>
                {% set sommeVente = sommeVente + vente.prix %}
                {% set sommeCash = sommeCash + vente.montantcash %}
                {% set sommeCredit = sommeCredit + vente.montantcredit %}
                {% set sommemomo = sommemomo + vente.montantmomo %}
                {% set sommeOm = sommeOm + vente.om %}
                {% set sommeReduction = sommeReduction + vente.reduction %}
                {% set sommeBanque = sommeBanque + vente.montantbanque %}
        {% endfor %}
        </tbody>
    </table> 

    <br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="11" align="center"> Resultat vente du : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="11" align="center"> Recapitulatif Vente </td>
            </tr>
                <tr>
                <th scope="col">Total Vente</th>
                <th scope="col">Total Cash</th>
                <th scope="col">Total OM</th>
                <th scope="col">Total MOMO</th>
                <th scope="col">Total Credit </th>
                <th scope="col">Total Banque </th>
                <th scope="col">Total reduction</th>
                <th scope="col">Total Depense</th>
                <th scope="col">Total Versement</th>
                <th scope="col">Sortie caise</th>
                <th scope="col">Net en Caise</th>
                
            </tr>
                <tr>
                    <td>{{sommeVente}}</td>
                    <td>{{sommeCash}}</td>
                    <td>{{sommemomo}}</td> 
                    <td>{{sommeOm}}</td> 
                    <td>{{sommeCredit}}</td>
                    <td>{{sommeBanque}}</td>
                    <td>{{sommeReduction}}</td>
                    <td>{{sommeDepense}}</td>
                    <td>{{totalversement}}</td>
                    <td>{{sommecaisse}}</td>
                    <td>{{ (sommeBanque + sommeCash + sommeOm + totalversement)+ sommecaisse +  sommemomo}}</td>
                </tr>
                <tr>
                    <td colspan="4"> Argent en main du 01-12-2024 au {{date}}</td>
                    <td colspan="2"></td>
                    <td colspan="4"> Total credit du 01-12-2024 au {{date}}</td>
                    <td colspan="1"></td>
                </tr>
        
        </tbody>
    </table>

    <br><br><br> 
    <table style="width:100%">
        <thead>
             <tr><th colspan="4" align="center"> Tableau Caise : {{date}}</th></tr>
            </thead>
            <tbody>
                <tr>
                <td colspan="4" align="center"> Recapitulatif Operation caise </td>
                </tr>
                    <tr>
                    <th scope="col">operation</th>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">motif</th>
                </tr>
                {% set sommecaisse = 0 %}
                {% for caisse in caisses %}
                <tr>
                    <td>{{caisse.operation}}</td>
                    <td>{{caisse.montant}}</td>
                    <td>{{caisse.createAt | date("Y-m-d")}}</td>
                    <td>{{caisse.motif}}</td>
                </tr>
                {% set sommecaisse = sommecaisse +  caisse.montant %}
                {% endfor %}
                
                <tr>
                <td>-----</td>
                <td>{{ sommecaisse}}</td>
                <td>{{date}}</td>
                <td>-----</td>
            </tr> 
            
            </tbody>
        </table>

        <br><br><br> 
        <table style="width:100%">
        <thead>
            <tr><th colspan="6" align="center"> Quantite Pour chaque produit : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="6" align="center"> Recapitulatif Quantite Vendue </td>
            </tr>
                <tr>
                <th scope="col">Mon du produit </th>
                <th scope="col">Quantite debut</th>
                <th scope="col">Quantite vendu</th>
                <th scope="col">Quantite Producttion</th>
                <th scope="col">Magasin</th>
                <th scope="col">Date</th>
            </tr>
            {% for histoique in histoiques %}
                <tr>
                <td>{{histoique[0]}}</td>
                <td>{{histoique[1]}}</td>
                <td>{{histoique[2]}}</td>
                <td>{{histoique[3]}}</td>
                <td>{{histoique[4]}}</td>
                <td>{{"now" | date('Y-m-d')}}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

    <br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="5" align="center"> Resultat Versement : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="5" align="center"> Recapitulatif Versement </td>
            </tr>
                <tr>
                <th scope="col">Nom client</th>
                <th scope="col">montant</th>
                <th scope="col">OM</th>
                <th scope="col">motif</th>
                <th scope="col">dateversement</th>
            </tr>
            {% for versement in versements %}
            <tr>
                <td>{{versement.clients.nom}}</td>
                <td>{{versement.montant}}</td>
                <td>{{versement.Om}}</td>
                <td>{{versement.description}}</td>
                <td>{{versement.createdAd | date("Y-m-d")}}</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>

    <br><br><br> 
    <table style="width:100%">
            <thead>
            <tr><th colspan="3" align="center"> Tableau depense : {{date}}</th></tr>
            </thead>
            <tbody>
                <tr>
                <td colspan="3" align="center"> Recapitulatif Depense </td>
                </tr>
                    <tr>
                    <th scope="col">description</th>
                    <th scope="col">montant</th>
                    <th scope="col">Date</th>
                </tr>
                {% for depense in depenses %}
                <tr>
                    <td>{{depense.description}}</td>
                    <td>{{depense.montant}}</td>
                    <td>{{depense.createdAt | date("Y-m-d")}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>

    <br><br><br> 
    <table style="width:100%">
            <thead>
            <tr><th colspan="5" align="center"> Tableau magasin : {{date}}</th></tr>
            </thead>
            <tbody>
                <tr>
                <td colspan="5" align="center"> Recapitulatif Des transferts </td>
                </tr>
                    <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Status</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Date</th>
                </tr>
                {% for magasin in magasins %}
                <tr>
                    <td>{{magasin.produit.nom}}</td>
                    <td>{{magasin.quantite}}</td>
                    <td>{{magasin.statut}}</td>
                    <td>{{magasin.matricule}}</td>
                    <td>{{magasin.createtAt | date("Y-m-d")}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
        <br><br><br> 
        <table style="width:100%">
                <thead>
                <tr><th colspan="7" align="center"> Calcules des Bénéfices  : {{date}}</th></tr>
                </thead>
                <tbody>
                    <tr>
                    <td colspan="7" align="center"> Calcules des Bénéfices  </td>
                    </tr>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantite Vendue</th>
                        <th scope="col">Prix  Vente</th>
                        <th scope="col">Prix Achat</th>
                        <th scope="col">P.vente - P.achat</th>
                        <th scope="col">Bénéfices</th>
                        <th scope="col">Date</th>
                    </tr>
                    {% set beneficequantite = 0 %}
                    {% set beneficemontant = 0 %}
                    {% set beneficetotal = 0 %}
                    {% set beneficevente = 0 %}
                    {% set beneficeachat = 0 %}
                    {% for benefice in benefices %}
                        <tr>
                            <td>{{benefice[0]}}</td>
                            <td>{{benefice[1]}}</td>
                            <td>{{benefice[2]}}</td>
                            <td>{{benefice[3]}}</td>
                            <td>{{benefice[2] - benefice[3]}}</td>
                            <td>{{benefice[4]}}</td>
                            <td>{{date}}</td>
                            {% set beneficeachat = beneficeachat + benefice[3] %}
                            {% set beneficevente = beneficevente + benefice[2] %}
                            {% set beneficequantite = beneficequantite + benefice[1] %}
                            {% set beneficemontant = beneficemontant + (benefice[2] - benefice[3]) %}
                            {% set beneficetotal = beneficetotal + benefice[4] %}
                        </tr>
                    {% endfor %}
                    <tr> 
                        <th scope="col">Total</th>
                        <th scope="col">{{beneficequantite}}</th>
                        <th scope="col">{{beneficevente}}</th>
                        <th scope="col">{{beneficeachat}}</th>
                        <th scope="col">{{beneficemontant}}</th>
                        <th scope="col">{{beneficetotal}}</th>
                        <th scope="col">{{date}}</th>
                    </tr>
                </tbody>
        </table>
    {% endif %}

</body>
</html>