<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* CSS personnalisé pour le PDF */
        body { font-family: Arial, sans-serif; }
        .header { color: #333; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        @Page {
                    footer {
                       position: fixed;
                        bottom: 0cm;
                        left: 0cm;
                        right: 0cm;
                        height: 2cm;
                        text-align: center;
                    }
                }
    </style>
</head>
<body>
<table style="width:100%" >
    <thead>
        <tr>
            <th colspan="6" align="center"> rapport Vente du : {{date}}</th>
        </tr>
    </thead>
        <tbody>
        {% set sommeBanque = 0 %}
        {%  set sommeVente = 0 %}
        {%   set sommeCash = 0 %}
        {%   set sommeOm = 0 %}
        {%   set sommeCredit = 0 %}
        {%   set sommeReduction = 0 %}
        {% for vente in ventes %}
            <tr>
            <td colspan="6" align="center"> Formule   Vente N= {{vente.id}} Client : {{ vente.client.nom}}  Tel: {{ vente.client.telephone}} utilisateur {{vente.user.username }} heure {{ vente.heure}} aliment : {{vente.aliment}}</td>
            </tr>
                <tr>
                <th scope="col">Nom produit</th>
                <th scope="col">quantite</th>
                <th scope="col">prix</th>
                <th scope="col">montant </th>
                <th scope="col">Typepaiement</th>
                <th scope="col">datevente</th>
            </tr>

             {% for facture in vente.facture %}
                    <tr>
                        <td> {{ facture.produit.nom}} </td>
                        <td> {{ facture.quantite}} </td>
                        <td> {{ facture.prix}} </td>
                        <td> {{ facture.prix * facture.quantite}} </td>
                        <td> {{ vente.type}} </td>
                        <td> {{ facture.createdAt | date("Y-m-d")}} </td>
                    </tr>
                {% endfor %} 
                 <tr>
                    <td>Total</td>
                    <td>{{ vente.quantite}}</td>
                    {% if vente.prix != 0 %}
                        <td>{{ vente.prix / vente.quantite}}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                    <td>{{ vente.prix}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Reduction</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.reduction}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Net a payer</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.prix}} </td>
                    <td>FCFA</td>
                    <td>{{ vente.type}}</td>
                </tr>
                {% set sommeVente = sommeVente + vente.prix %}
                {% set sommeCash = sommeCash + vente.montantcash %}
                {% set sommeCredit = sommeCredit + vente.montantcredit %}
                {% set sommeOm = sommeOm + vente.montantmomo %}
                {% set sommeReduction = sommeReduction + vente.reduction %}
                {% set sommeBanque = sommeBanque + vente.montantbanque %}
        {% endfor %}
        </tbody>
    </table> 

    <br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="10" align="center"> Resultat vente du : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="10" align="center"> Recapitulatif Vente </td>
            </tr>
                <tr>
                <th scope="col">Total Vente</th>
                <th scope="col">Total Cash</th>
                <th scope="col">Total OM</th>
                <th scope="col">Total Credit </th>
                <th scope="col">Total Banque </th>
                <th scope="col">Total reduction</th>
                <th scope="col">Total Depense</th>
                <th scope="col">Total Versement</th>
                <th scope="col">Sortie caise</th>
                <th scope="col">Net en Caise</th>
                
            </tr>
                <tr>
                    <td>{{sommeVente}}</td>
                    <td>{{sommeCash}}</td>
                    <td>{{sommeOm}}</td> 
                    <td>{{sommeCredit}}</td>
                    <td>{{sommeBanque}}</td>
                    <td>{{sommeReduction}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4"> Argent en main du 01-12-2024 au {{date}}</td>
                    <td colspan="2"></td>
                    <td colspan="3"> Total credit du 01-12-2024 au {{date}}</td>
                    <td colspan="1"></td>
                </tr>
        
        </tbody>
    </table>

    <br><br><br> 
    <table style="width:100%">
        <thead>
             <tr><th colspan="4" align="center"> Tableau Caise : {{date}}</th></tr>
            </thead>
            <tbody>
                <tr>
                <td colspan="4" align="center"> Recapitulatif Operation caise </td>
                </tr>
                    <tr>
                    <th scope="col">operation</th>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">motif</th>
                </tr>
                {% set sommecaisse = 0 %}
                {% for caisse in caisses %}
                <tr>
                    <td>{{caisse.operation}}</td>
                    <td>{{caisse.montant}}</td>
                    <td>{{caisse.createAt | date("Y-m-d")}}</td>
                    <td>{{caisse.motif}}</td>
                </tr>
                {% set sommecaisse = sommecaisse +  caisse.montant %}
                {% endfor %}
                
                <tr>
                <td>-----</td>
                <td>{{ sommecaisse}}</td>
                <td>{{date}}</td>
                <td>-----</td>
            </tr> 
            
            </tbody>
        </table>

        <br><br><br> 
        <table style="width:100%">
        <thead>
            <tr><th colspan="5" align="center"> Quantite Pour chaque produit : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="5" align="center"> Recapitulatif Quantite Vendue </td>
            </tr>
                <tr>
                <th scope="col">Mon du produit </th>
                <th scope="col">Quantite debut</th>
                <th scope="col">Quantite</th>
                <th scope="col">Quantite fin</th>
                <th scope="col">Date</th>
            </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>

    <br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="5" align="center"> Resultat Versement : {{date}}</th></tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="5" align="center"> Recapitulatif Versement </td>
            </tr>
                <tr>
                <th scope="col">Nom client</th>
                <th scope="col">montant</th>
                <th scope="col">OM</th>
                <th scope="col">motif</th>
                <th scope="col">dateversement</th>
            </tr>
            {% for versement in versements %}
            <tr>
                <td>{{versement.clients.nom}}</td>
                <td>{{versement.montant}}</td>
                <td>{{versement.Om}}</td>
                <td>{{versement.description}}</td>
                <td>{{versement.createdAd | date("Y-m-d")}}</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>

    <br><br><br> 
    <table style="width:100%">
            <thead>
            <tr><th colspan="3" align="center"> Tableau depense : {{date}}</th></tr>
            </thead>
            <tbody>
                <tr>
                <td colspan="3" align="center"> Recapitulatif Depense </td>
                </tr>
                    <tr>
                    <th scope="col">description</th>
                    <th scope="col">montant</th>
                    <th scope="col">Date</th>
                </tr>
                {% for depense in depenses %}
                <tr>
                    <td>{{depense.description}}</td>
                    <td>{{depense.montant}}</td>
                    <td>{{depense.createdAt | date("Y-m-d")}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</body>
</html>