{% extends 'base.html.twig' %}

{% block title %}Rapport du jour{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* CSS personnalisé pour le PDF */
        body { font-family: Arial, sans-serif; }
        .header { color: #333; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        @Page {
                    footer {
                       position: fixed;
                        bottom: 0cm;
                        left: 0cm;
                        right: 0cm;
                        height: 2cm;
                        text-align: center;
                    }
                }
    </style>
</head>
<body>
<table style="width:100%">
    <thead>
        <tr>
            <th colspan="6" align="center"> rapport Vente du : {{ calandrier }} </th>
        </tr>
    </thead>
        <tbody>
        {%  set sommeVente = 0 %}
        {%   set sommeCash = 0 %}
        {%   set sommeOm = 0 %}
        {%   set sommeCredit = 0 %}
        {%   set sommeReduction = 0 %}
         
            {% for vente in ventes %}
                <tr>
                    <td colspan="6" align="center"> Formule   Vente N= {{ vente.id}} / Client : {{ vente.client.nom}} /Tel:{{ vente.client.telephone}}/ utilisateur:{{ vente.user.username}}/ heure: {{ vente.heure}}</td>
                </tr>
                <tr>
                    <th scope="col">Nom produit</th>
                    <th scope="col">quantite</th>
                    <th scope="col">prix</th>
                    <th scope="col">montant </th>
                    <th scope="col">Type paiement</th>
                    <th scope="col">date vente</th>
                </tr>
                {% set prixfacture = 0 %}
                 {% for facture in vente.factureAs %}
                    <tr>
                        <td> {{ facture.produit.nom}} </td>
                        <td> {{ facture.quantite}} </td>
                        <td> {{ facture.prix}} </td>
                        <td> {{ (facture.prix * facture.quantite)}} </td>
                        <td> {{ vente.type}} </td>
                        <td> {{ facture.createAt | date("Y-m-d")}} </td>
                    </tr>
                    {% set prixfacture = prixfacture + facture.prix %}
                {% endfor %} 
                 <tr>
                    <td>Total</td>
                    <td>{{ vente.quantite}}</td>
                    {% if vente.prix != 0 %}
                        <td>{{ prixfacture}}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                    <td>{{ vente.prix}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Reduction</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.reduction}} </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Net a payer</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ vente.prix}} </td>
                    <td>FCFA</td>
                    <td>{{ vente.type}}</td>
                </tr>
                {% set sommeVente = sommeVente + vente.prix %}
                {% set sommeCash = sommeCash + vente.cash %}
                {% set sommeCredit = sommeCredit + vente.credit %}
                {% set sommeOm = sommeOm + vente.momo %}
                {% set sommeReduction = sommeReduction + vente.reduction %}
            {% endfor %}
            
        </tbody>
    </table> 
    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="9" align="center"> Resultat vente du : {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="9" align="center"> Recapitulatif Vente </th>
            </tr>
            <tr>
                <th scope="col">Total Vente</th>
                <th scope="col">Total Cash</th>
                <th scope="col">Total OM</th>
                <th scope="col">Total Credit </th>
                <th scope="col">Total reduction</th>
                <th scope="col">Total Depense</th>
                <th scope="col">Total Versement</th>
                <th scope="col">Sortie caise</th>
                <th scope="col">Net en Caise</th>
            </tr>
        </thead>
            <tbody>
                 <td>{{ sommeVente }}</td>
                <td> {{ sommeCash }}</td>
                <td> {{ sommeOm }}</td>
                <td>{{ sommeCredit }}</td>
                <td>{{ sommeReduction }}</td>
                <td>{{ sommedepense}}</td>
                <td>{{ sommeVersement}}</td>
                <td>{{sommeCaisse}}</td>
                <td>{{sommeCash + sommeOm + sommeCaisse}}</td>
            </tbody>
        </thead>
    </table> 
    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="4" align="center"> Tableau Caise : {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="4" align="center"> Recapitulatif Operation caise : {{calandrier}} </th>
            </tr>
                <tr>
                    <th scope="col">operation</th>
                    <th scope="col">montant</th>
                    <th scope="col">date</th>
                    <th scope="col">motif</th>
                </tr>
        </thead>
            <tbody>
                {% set sommesaisse = 0 %}
                {% for caisse in caisses %}
                    <tr>
                        <td>{{caisse.operation}}</td>
                        <td> {{ caisse.montant}}</td>
                        <td>{{ caisse.createAt | date("Y-m-d")}}</td>
                        <td>{{ caisse.motif}}</td>
                    </tr>
                    {# {% set sommesaisse = sommesaisse + caisse.nomtant %} #}
                {% endfor %}
                <tr>
                    <td>Total </td>
                    <td>{{sommesaisse}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </thead>
    </table>
    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="5" align="center"> Quantite Pour chaque produit : {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="5" align="center"> Recapitulatif Quantite Vendue </th>
            </tr>
            <tr>
                <th scope="col">Mon du produit </th>
                <th scope="col">Quantite debut</th>
                <th scope="col">Quantite Vendue</th>
                <th scope="col">Quantite fin</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
            <tbody>
            {% for historiqueA in historiqueAs %}
                <tr>
                    <th scope="col">{{historiqueA[0]}}</th>
                    <th scope="col">{{historiqueA[1]}}</th>
                    <th scope="col">{{historiqueA[2]}}</th>
                    <th scope="col">{{historiqueA[3]}}</th>
                    <th scope="col">{{ calandrier}}</th>
                </tr>
            {% endfor %}
            </tbody>
        </thead>
    </table>
    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="6" align="center"> Tableau Achat  : {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="6" align="center">  Recapitulatif Achat </th>
            </tr>
            <tr>
                <th scope="col">Nom produit</th>
                <th scope="col">quantite</th>
                <th scope="col">prix Acaht</th>
                <th scope="col">montant</th>
                <th scope="col">fournisseur</th>
                <th scope="col">date</th>
            </tr>
        </thead>
            <tbody>
            {% set sommeachat = 0 %}
            {% set achatquantite = 0 %}
            {% set achatPrix = 0 %}
            
            {% for achat in achats %}
            <tr>
                <td> {{achat.produit.nom}}</td>
                <td> {{achat.quantite }} </td>
                <td> {{achat.prix}} </td>
                <td> {{achat.montant}}</td>
                <td>{{achat.forunisseur.nom}}</td>
                <td>{{achat.createdAt | date("Y-m-d")}}</td>

                    {% set sommeachat = sommeachat + achat.montant %}
                    {% set achatquantite = achatquantite + achat.quantite %}
                    {% set achatPrix = achatPrix + achat.prix %} 
            </tr>  
            {% endfor %}
            
            <tr>
                <td>Total</td>
                <td>{{ achatquantite }}</td>
                <td>{{ achatPrix }}</td>
                <td> {{ sommeachat }} </td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </thead>
    </table>
    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="4" align="center">  Tableau des depenses: {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="4" align="center"> Recapitulatif des depenses : {{ calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type </th>
                <th scope="col">M.Total </th>
                <th scope="col">Liste opration</th>
            </tr>
        </thead>
        <tbody>
            {% for depense in depenses %}
                <tr>
                    <td>{{ depense.createdAt | date("Y-m-d") }}</td>
                    <td>{{ depense.type }}</td>
                    <td>{{ depense.montant }}</td>
                    <td>{{ depense.description}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="4" align="center"> Tableau de versement :  {{ calandrier }} </th>
            </tr>
            <tr>
                <th colspan="4" align="center"> Recapitulatif des versement : {{ calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Client</th>
                <th scope="col">Montnat</th>
                <th scope="col">motif</th>
            </tr>
        </thead>
        <tbody>
            {% for versement in versements %}
            <tr>
                <td>{{ versement.createdAt | date("Y-m-d") }} </td>
                <td>{{ versement.client.nom}} </td>
                <td>{{ versement.montant + versement.om + versement.banque }}</td>
                <td>{{ versement.description }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="8" align="center"> Tableau des poussins : {{ calandrier}} </th>
            </tr>
            <tr>
                <th colspan="8" align="center"> Recapitulatif des poussins : {{ calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">prix Unit</th>
                <th scope="col">M.Total</th>
                <th scope="col">Q.Total</th>
                <th scope="col">M.Cash</th>
                <th scope="col">M.Om</th>
                <th scope="col">M.Credit</th>
                <th scope="col">M.Reste</th>
            </tr>
        </thead>
        <tbody>
            {% for poussin in poussins %}
                <tr>
                    <td>{{poussin.datecommande | date("Y-m-d")}}</td>
                    <td>{{poussin.prix}}</td>
                    <td>{{poussin.montant}}</td>
                    <td>{{poussin.quantite}}</td>
                    <td>{{poussin.cash}}</td>
                    <td>{{poussin.mobilepay}}</td>
                    <td>{{poussin.credit}}</td>
                    <td>{{poussin.reste}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="7" align="center"> Tableau des consultations : {{ calandrier}} </th>
            </tr>
            <tr>
                <th colspan="7" align="center"> Recapitulatif des consultations : {{calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Client</th>
                <th scope="col">Poid</th>
                <th scope="col">Observation</th>
                <th scope="col">Conduit</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for consultation in consultations %}
                <tr>
                    <td>{{consultation.nom}}</td>
                    <td>{{consultation.client.nom}}</td>
                    <td>{{consultation.poid}}</td>
                    <td>{{consultation.dianostique }}</td>
                    <td>{{consultation.indication }}</td>
                    <td>{{consultation.nomtant }}</td>
                    <td>{{consultation.createtAd | date("Y-m-d") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="7" align="center"> Tableau de Suivis : {{ calandrier}} </th>
            </tr>
            <tr>
                <th colspan="7" align="center"> Recapitulatif des suivis : {{calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Client</th>
                <th scope="col">Jour</th>
                <th scope="col">Observation</th>
                <th scope="col">Conduit</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for suivi in suivis %}
                <td>{{suivi.nom}}</td>
                <td>{{suivi.client.nom}}</td>
                <td>{{suivi.jour | date("Y-m-d")}}</td>
                <td>{{suivi.observation}}</td> 
                <td>{{suivi.conduite}}</td> 
                <td>{{suivi.montant}}</td> 
                <td>{{suivi.createtAd | date("Y-m-d")}}</td> 
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="7" align="center"> Tableau des Vaccins : {{ calandrier}} </th>
            </tr>
            <tr>
                <th colspan="7" align="center"> Recapitulatif des Vaccins : {{ calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Client</th>
                <th scope="col">Type Vaccin</th>
                <th scope="col">Date Vaccin</th>
                <th scope="col">Date Second Vaccin</th>
                <th scope="col">Montant</th>
                <th scope="col">Avance</th>
            </tr>
        </thead>
        <tbody>
            {% for vaccin in vaccins %}
                <td>{{vaccin.sujet}}</td>
                <td>{{vaccin.client.nom}}</td>
                <td>{{vaccin.typeVaccin}}</td>
                <td>{{vaccin.createtAD | date("Y-m-d")}}</td>
                <td>{{vaccin.dateVaccin | date("Y-m-d")}}</td>
                <td>{{vaccin.montant}}</td>
                <td>{{vaccin.resteMontant}}</td>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="4" align="center"> Tableau Terrains : {{ calandrier}} </th>
            </tr>
            <tr>
                <th colspan="4" align="center"> Recapitulatif Terrains : {{ calandrier}} </th>
            </tr>
            <tr>
                <th scope="col">localisation</th>
                <th scope="col">Client</th>
                <th scope="col">telephone</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for terrain in terrains %}
                <tr>
                    <td>{{terrain.localisation}}</td>
                    <td>{{terrain.client.nom}}</td>
                    <td>{{terrain.client.telephone}}</td>
                    <td>{{terrain.createtAt | date("Y-m-d")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
