
<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.php">
<div class="sidebar-brand-icon rotate-n-15">
    <i class="fas fa-laugh-wink"></i>
</div>
<div class="sidebar-brand-text mx-3">AB COMPTA <sup>2</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
<a class="nav-link" href="{{ path('app_home_dashboardA', {'id': app.user.employer.agence.id}) }}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsevente"
    aria-expanded="true" aria-controls="collapsevente">
    <i class="fas fa-fw fa-folder"></i>
    <span>Vente</span>
</a>
<div id="collapsevente" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation de vente</h6>
            <a class="collapse-item" href="{{ path('app_vente_a') }}" id="ajouterVente"> Ajouter une vente</a>
            <a class="collapse-item" href="{{ path('vente_a_list') }}">Liste vente</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseahcat"
    aria-expanded="true" aria-controls="collapseahcat">
    <i class="fas fa-fw fa-folder"></i>
    <span>Achat</span>
</a>
<div id="collapseahcat" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation des Achat</h6>
            <a class="collapse-item" href="{{ path('app_achat_a') }}" >ajouter un Achat</a>
            <a class="collapse-item" href="{{ path('achat_a_list') }}">liste Achat</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseclient"
    aria-expanded="true" aria-controls="collapseclient">
    <i class="fas fa-fw fa-folder"></i>
    <span>Client</span>
</a>
<div id="collapseclient" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation des clients</h6>
            <a class="collapse-item" href="phpphamacie/client/client.php" id="ajouterClient">ajouter un client</a>
            <a class="collapse-item" href="phpphamacie/client/liste.php">liste client</a>
            <a class="collapse-item" href="phpphamacie/client/clientInactif.php">liste des client Inactif</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproduit"
    aria-expanded="true" aria-controls="collapseproduit">
    <i class="fas fa-fw fa-folder"></i>
    <span>Produit</span>
</a>
<div id="collapseproduit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation des produits</h6>
            <a class="collapse-item" href="{{ path('app_produit_a') }}" id="ajouterProduit">Ajouter</a>
            <a class="collapse-item" href="{{ path('produit_a_list') }}">List</a>
            <a class="collapse-item" href="phpphamacie/produit/Peramtion.php">Date Peramtion</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefournisseur"
    aria-expanded="true" aria-controls="collapsefournisseur">
    <i class="fas fa-fw fa-folder"></i>
    <span>Fournisseur</span>
</a>
<div id="collapsefournisseur" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation des produit</h6>
            <a class="collapse-item" href="{{ path('app_fournisseur_a') }}" id="ajouterFourniseur">ajouter un Fournisseur</a>
            <a class="collapse-item" href="{{ path('fournisseur_a_list') }}">liste Fournisseur</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestock"
    aria-expanded="true" aria-controls="collapsestock">
    <i class="fas fa-fw fa-folder"></i>
    <span>Stock</span>
</a>
<div id="collapsestock" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Operation des Stock</h6>
                    <a class="collapse-item" href="phpphamacie/stock/sctockVente.php?date='.date("Y").'">Historique </a>
                    <a class="collapse-item" href="phpphamacie/achat/liste.php">Stock Achat </a>
                    <a class="collapse-item" href="phpphamacie/stock/recaptliste.php?date='.date("Y").'">Recapitulatif</a>
                    <a class="collapse-item" href="phpphamacie/stock/editeStock.php" id="ajouterStock">Stock Initiale / Inventaire</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#versement"
    aria-expanded="true" aria-controls="versement">
    <i class="fas fa-fw fa-folder"></i>
    <span>Versement</span>
</a>
<div id="versement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">versement:</h6>
            <a class="collapse-item" href="phpphamacie/versement/versement.php" id="ajouterVersement">ajouter versement</a>
            <a class="collapse-item" href="phpphamacie/versement/liste.php?date='.date("Y").'">Liste versement</a>
    </div>
</div>
</li>
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dette"
    aria-expanded="true" aria-controls="dette">
    <i class="fas fa-fw fa-folder"></i>
    <span>Dette client</span>
</a>
<div id="dette" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Dette:</h6>
        <a class="collapse-item" href="phpphamacie/dette/dette.php?date='.date("Y").'">Liste credit</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#caisse"
    aria-expanded="true" aria-controls="caisse">
    <i class="fas fa-fw fa-folder"></i>
    <span>Caisse</span>
</a>
<div id="caisse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Caisse:</h6>
            <a class="collapse-item" href="phpphamacie/caisse/caisse.php" id="ajouterCaise">Caisse</a>
            <a class="collapse-item" href="phpphamacie/caisse/liste.php?date='.date("Y").'">liste caisse</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Depense"
    aria-expanded="true" aria-controls="Depense">
    <i class="fas fa-fw fa-folder"></i>
    <span>Depense</span>
</a>
<div id="Depense" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Depense:</h6>
            <a class="collapse-item" href="phpphamacie/depenses/depense.php">Depense</a>
            <a class="collapse-item" href="phpphamacie/depenses/liste.php?date='.date("Y").'">Liste Depense</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#utilisateur"
    aria-expanded="true" aria-controls="utilisateur">
    <i class="fas fa-fw fa-folder"></i>
    <span>utilisateur</span>
</a>
<div id="utilisateur" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">utilisateur:</h6>
            <a class="collapse-item" href="phpphamacie/userCon/page.php" id="ajouterUtilisateur">ajouter utilisateur</a>
            <a class="collapse-item" href="phpphamacie/userCon/liste.php">Liste</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#volaille"
    aria-expanded="true" aria-controls="volaille">
    <i class="fas fa-fw fa-folder"></i>
    <span>Poussin </span>
</a>
<div id="volaille" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Volaille :</h6>
                <a class="collapse-item" href="phpphamacie/volaille/volaille.php">Commande</a>
                <a class="collapse-item" href="phpphamacie/volaille/liste.php?date='.date("Y").'">Liste</a>
                <a class="collapse-item" href="phpphamacie/volaille/comandefourniseur.php">Commande fourniseur</a>
                <a class="collapse-item" href="phpphamacie/volaille/listecommande.php?date='.date("Y").'">Liste fourniseur</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Clinique"
    aria-expanded="true" aria-controls="Clinique">
    <i class="fas fa-fw fa-folder"></i>
    <span>Clinique </span>
</a>
<div id="Clinique" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Clinique :</h6>
            <a class="collapse-item" href="phpphamacie/vacin/consultation.php" >Consultation</a> 
            <a class="collapse-item" href="phpphamacie/vacin/fichesuivi.php" >fiche suivi </a>
            <a class="collapse-item" href="phpphamacie/vacin/tableconsultation.php?date='.date("Y").'" >liste Consultation</a> 
            <a class="collapse-item" href="phpphamacie/vacin/listesuivi.php?date='.date("Y").'" >liste des suivi</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#vaccin"
    aria-expanded="true" aria-controls="vaccin">
    <i class="fas fa-fw fa-folder"></i>
    <span>Vaccin </span>
</a>
<div id="vaccin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Vaccin :</h6>
            <a class="collapse-item" href="phpphamacie/vacin/vacin.php" id="ajouterUtilisateur">Adminitrer un Vaccin</a>
            <a class="collapse-item" href="phpphamacie/vacin/liste.php?date='.date("Y").'">Liste Vaccin</a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#service"
    aria-expanded="true" aria-controls="service">
    <i class="fas fa-fw fa-folder"></i>
    <span>Service </span>
</a>
<div id="service" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Service :</h6>
                <a class="collapse-item" href="phpphamacie/service/service.php" id="ajouterUtilisateur">Descente sur terrain</a>
                <a class="collapse-item" href="phpphamacie/service/liste.php?date='.date("Y").'">Liste </a>
    </div>
</div>
</li>

<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#employer"
    aria-expanded="true" aria-controls="employer">
    <i class="fas fa-fw fa-folder"></i>
    <span>Personnel </span>
</a>
<div id="employer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Personnel :</h6>
                <a class="collapse-item" href="php/employer/employer.php">Employer</a>
                <a class="collapse-item" href="php/employer/liste.php?date='.date("Y").'">Liste </a>
    </div>
</div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
Interface
</div>

<!-- Nav Item - Pages Collapse Menu -->

<!-- Nav Item - Utilities Collapse Menu -->

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
Administrateur
</div>

<!-- Nav Item - Pages Collapse Menu -->

<!-- Nav Item - Charts -->
<li class="nav-item">
<a class="nav-link" href="comptaPhamacie.php">
<i class="fas fa-fw fa-chart-area"></i>
        Comptabilite<span></span></a>
</li>

<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#jounale"
            aria-expanded="true" aria-controls="jounale">
            <i class="fas fa-fw fa-folder"></i>
            <span>Journal Comptable</span>
        </a>
        <div id="jounale" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Journal Comptable:</h6>
                <a class="collapse-item" href="phpphamacie/comptabilite/Journale.php">Jounal</a> 
            </div>
        </div>
</li>
<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventaire"
            aria-expanded="true" aria-controls="inventaire">
            <i class="fas fa-fw fa-folder"></i>
            <span>Analyse Evolutive</span>
        </a>
        <div id="inventaire" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Analyse Evolutive:</h6>
                <a class="collapse-item" href="phpphamacie/comptabilite/inventaire.php">Analyse Evolutive Moi</a> 
                <a class="collapse-item" href="phpphamacie/comptabilite/invantairesemaine.php">Analyse Evolutive Semaine</a> 
            </div>
        </div>
</li>

<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#etatresultat"
            aria-expanded="true" aria-controls="etatresultat">
            <i class="fas fa-fw fa-folder"></i>
            <span>Etat des resultats</span>
        </a>
        <div id="etatresultat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Etat des resultats:</h6>
                <a class="collapse-item" href="phpphamacie/comptabilite/etatresultat.php">marge beneficiere</a> 
                <a class="collapse-item" href="phpphamacie/comptabilite/chiffreaffaire.php">CHIFFRE AFFAIRES</a>
                <a class="collapse-item" href="phpphamacie/comptabilite/ProduitStocks.php">Production et Stocks</a>  
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bilan"
            aria-expanded="true" aria-controls="bilan">
            <i class="fas fa-fw fa-folder"></i>
            <span>Bilan Comptable</span>
        </a>
        <div id="bilan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"> Bilan :</h6>
                <a class="collapse-item" href="phpphamacie/bilan/actif.php">Actif Bilan</a>
                <a class="collapse-item" href="phpphamacie/bilan/liste.php">liste Actif</a>
                <a class="collapse-item" href="phpphamacie/bilan/passif.php">Passif Bilan</a>
                <a class="collapse-item" href="phpphamacie/bilan/listepasif.php">liste Passif</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tresor"
            aria-expanded="true" aria-controls="tresor">
            <i class="fas fa-fw fa-folder"></i>
            <span>Tresorerie</span>
        </a>
        <div id="tresor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"> Tresorerie :</h6>
                <a class="collapse-item" href="phpphamacie/tresorerie/tresorerie.php"> tresorerie</a>
                <a class="collapse-item" href="phpphamacie/tresorerie/liste.php">liste </a>
                
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compteresultat"
            aria-expanded="true" aria-controls="compteresultat">
            <i class="fas fa-fw fa-folder"></i>
            <span>Compte Resultat : </span>
        </a>
        <div id="compteresultat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"> Compte Resultat :</h6>
                <a class="collapse-item" href="phpphamacie/compteresultat/compteresultat.php">Compte Resultat</a>
                <a class="collapse-item" href="phpphamacie/compteresultat/liste.php">liste </a>
                
            </div>
        </div>
    </li>

<!-- Nav Item - Tables -->
<li class="nav-item">
<a class="nav-link" href="">
    <i class="fas fa-fw fa-table"></i>
    <span>Tables</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<!-- Sidebar Message -->


</ul>